@import "tailwindcss";

:root {
  --background: #fff7e9;
  --foreground: #252525;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.text-inverse {
  color: var(--background);
}

.bg-inverse {
  background: var(--background);
}

.bg-blur {
  background: var(--background);
  backdrop-filter: blur(10px);
}

